<a href="https://colab.research.google.com/github/ergonrizky26/data-structure/blob/main/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## LIST



*   List berisi koleksi nilai/data
*   List bisa berubah
*   List bisa berisi tipe data apapun dan tidak harus semua data berisi tipe data yang sama

In [34]:
A = ['Jakarta', 'Bali', 'Jogja', 'Manado'] # Terdapat 4 elemen
B = ['Ibi', 0, True] # Terdapat 3 elemen
C = [2, 1] # Terdapat 2 elemen

### Indexing

In [35]:
print(A[0]) # memanggil elemen pertama
print(A[1]) # memanggil elemen kedua
print(A[-1]) # memanggil elemen awal dari posisi terakhir
print(A[-2]) # memanggil elemen kedua dari posisi terakhir

Jakarta
Bali
Manado
Jogja

### Slicing

In [36]:
print(A[:2]) # memanggil index 0 dan 1
print(A[1:2]) # memangil index 1 saja
print(A[0:4:2]) # memanggil index 0 dan 2

['Jakarta', 'Bali']
['Bali']
['Jakarta', 'Jogja']

In [37]:
A[1] = 'Surabaya' # mengubah/update nilai pada list
print(A)

['Jakarta', 'Surabaya', 'Jogja', 'Manado']

In [38]:
result = A + B # menggabungkan 2 list 
print(result)

['Jakarta', 'Surabaya', 'Jogja', 'Manado', 'Ibi', 0, True]

In [39]:
A.append('Balikpapan') # menambah nilai pada list dengan posisi index paling terakhir
print(A)
A.insert(2, 'Budi') # menambah/memasukkan nilai pada list dengan elemen tertentu
print(A)

['Jakarta', 'Surabaya', 'Jogja', 'Manado', 'Balikpapan']
['Jakarta', 'Surabaya', 'Budi', 'Jogja', 'Manado', 'Balikpapan']

In [40]:
del(A[0]) # delete nilai pada list dengan elemen tertentu
print(A)

['Surabaya', 'Budi', 'Jogja', 'Manado', 'Balikpapan']

In [41]:
A.remove('Surabaya') # menghapus nilai pada list
print(A)

['Budi', 'Jogja', 'Manado', 'Balikpapan']

In [42]:
print(len(A)) # menghitung panjang elemen pada list

4

In [43]:
A = []
type(A)

list

In [44]:
A.append(1)
print(A)

[1]

## TUPLE

Sama dengan list namun tidak dapat merubah nilai elemen suatu tuple

In [45]:
A = ('Jakarta', 'Bali', 'Jogja', 2)

In [46]:
print(A[0:2])
print(A[0])

('Jakarta', 'Bali')
Jakarta

In [47]:
A = ()
A = (1,)
type(A)

tuple

## SET



1.   Set tidak memiliki koordinat/index tiap anggotanya, jadi untuk set posisi anggota dianggap tidak penting 
2.   Set tidak dapat memiliki lebih dari satu anggota dengan nilai yang sama

In [48]:
A = {4, 5, 6, 2}

In [49]:
# print(A[1])  # tidak bisa dilakukan indexing

In [50]:
A.discard(4) # untuk membuang angka
print(A)

{2, 5, 6}

In [51]:
A.add(1) # menambah angka
print(A)

{1, 2, 5, 6}

In [52]:
A.update([4,7,8]) # menambah angka secara banyak
print(A)

{1, 2, 4, 5, 6, 7, 8}

In [53]:
B = {4, 5, 6}

In [54]:
print(A.union(B)) # menggabungkan 2 set

{1, 2, 4, 5, 6, 7, 8}

In [55]:
print(A & B) # mengambil nilai yang sama di antara 2 set

{4, 5, 6}

In [56]:
C = {7, 8, 9}
list(C) # mengubah set menjadi list

[8, 9, 7]

In [57]:
D = {9, 10, 11}
tuple(D) # mengubah set menjadi tuple

(9, 10, 11)

## DICTIONARY

Dictionary memiliki keunikan yaitu mempunyai **key** dan **value**

In [58]:
numbers = {'one' : 1, 'two' : 2, 'three' : 3}

In [59]:
numbers['one']

1

In [60]:
numbers['two']

2

In [61]:
for k in numbers:
  print('{} = {}'.format(k, numbers[k]))

one = 1
two = 2
three = 3

In [62]:
for key in numbers.values():
  print('{}'.format(key))

1
2
3

In [63]:
for key, value in numbers.items():
  print('{} = {}'.format(key, value))

one = 1
two = 2
three = 3

In [64]:
for key in numbers.values():
  print("{}".format(key))

1
2
3

In [65]:
'one' in numbers

True

In [66]:
'6' in numbers

False